<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="description" content="Bihjografen är en biografhemsida där filmälskare kan upptäcka de senaste filmerna, boka biljetter, läsa recensioner och mycket mer.">
    <title>Bihjografen</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/output.css'>
    <script src="https://kit.fontawesome.com/4c51990d8f.js" crossorigin="anonymous"></script>
</head>