<!DOCTYPE html>
<html>
  <head>
    <script src="../createaccount.js" type="module" defer></script>
  </head>
  <%- include('./partials/head') %>

  <body>
    <main class="grid-20-1fr min-h-full w-full bg-primary absolute flex">
      <%- include('./partials/sidebar', { active: '/login' }) %>

      <section
        class="flex justify-start items-center flex-col bg-secondary rounded min-h-94 min-w-32 justify-self-center self-center gap-10"
      >
        <h1 class="text-6xl font-bold text-white m-16">Bli medlem idag!</h1>

        <ul class="ml-18">
          <li class="text-1xl text-white">
            <i class="far fa-check-circle mr-1.5"></i>Få rabatter
          </li>
          <li class="text-1xl text-white">
            <i class="far fa-check-circle mr-1.5"></i>Sneak peeks på kommande
            filmer
          </li>
          <li class="text-1xl text-white">
            <i class="far fa-check-circle mr-1.5"></i>Privata samtal från
            skådespelare (från Hjo)
          </li>
          <li class="text-1xl text-white">
            <i class="far fa-check-circle mr-1.5"></i>Backstagepass till
            Grammisgalan (i Hjo).
          </li>
        </ul>

        <form
          action="www.fakeurl.com"
          method="post"
          class="border-2 rounded-lg py-5 w-72 mb-12"
          id="userForm"
        >
          <div class="flex flex-col gap-5 mx-3">
            <input
              type="text"
              name="userName"
              id="createUserNameAcc"
              placeholder="Användarnamn*"
              required
            />
            <input
              type="text"
              name="firstname"
              id="firstNameAcc"
              placeholder="Ditt förnamn*"
              required
            />

            <input
              type="text"
              name="lastname"
              id="lastNameAcc"
              placeholder="Ditt efternamn*"
              required
            />

            <input
              type="email"
              name="email"
              id="emailAcc"
              placeholder="Din email*"
              required
            />
            <input
              type="password"
              name="password"
              minlength="8"
              id="createPasswordAcc"
              placeholder="Ditt lösenord*"
              required
            />

            <strong class="text-white"
              >Lösenordet måste innehålla åtta tecken och minst ett
              specialtecken: <strong id="pwPower"> </strong
            ></strong>

            <div class="self-center bg-blue-300 w-48 pl-10">
              <input
                type="submit"
                value="Bli medlem nu!"
                class="cursor-pointer"
                id="submitBtn"
              />
            </div>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
