<!DOCTYPE html>
<html lang="sv">
  <head>
    <script src="../createaccount.js" type="module" defer></script>
  </head>
  <%- include('./partials/head') %>

  <body>
    <main class="grid-20-1fr min-h-full w-full bg-primary absolute flex">
      <%- include('./partials/sidebar', { active: '/login' }) %>

      <section
        class="flex items-center flex-col bg-secondary rounded gap-10 h-4/5 mt-16 self-center justify-center justify-self-center"
      >
        <h1 class="text-6xl font-bold text-white m-4">Bli medlem idag!</h1>

        <ul class="ml-18 mt-18">
          <li class="text-1xl text-white">
            <i class="far fa-check-circle mr-1.5"></i>Få rabatter
          </li>
          <li class="text-1xl text-white">
            <i class="far fa-check-circle mr-1.5"></i>Sneak peeks på kommande
            filmer
          </li>
          <li class="text-1xl text-white">
            <i class="far fa-check-circle mr-1.5"></i>Privata samtal från
            skådespelare (från Hjo)
          </li>
          <li class="text-1xl text-white">
            <i class="far fa-check-circle mr-1.5"></i>Backstagepass till
            Grammisgalan (i Hjo).
          </li>
        </ul>

        <form
          action="www.fakeurl.com"
          method="post"
          class="border-2 rounded-lg py-5 w-72"
          id="userForm"
        >
          <div class="flex flex-col gap-1 mx-3 p-3">
            <label for="createUserNameAcc" class="text-white"
              >Användarnamn</label
            >
            <input
              type="text"
              name="userName"
              id="createUserNameAcc"
              placeholder="Användarnamn*"
              required
            />
            <label for="firstNameAcc" class="text-white">Föramn</label>
            <input
              type="text"
              name="firstname"
              id="firstNameAcc"
              placeholder="Ditt förnamn*"
              required
            />
            <label for="lastNameAcc" class="text-white">Efternamn</label>
            <input
              type="text"
              name="lastname"
              id="lastNameAcc"
              placeholder="Ditt efternamn*"
              required
            />
            <label for="createPasswordAcc" class="text-white">Lösenord</label>
            <input
              type="email"
              name="email"
              id="emailAcc"
              placeholder="Din email*"
              required
            />
            <label for="createPasswordAcc" class="text-white">Lösenord</label>
            <input
              type="password"
              name="password"
              minlength="8"
              id="createPasswordAcc"
              placeholder="Ditt lösenord*"
              required
            />

            <strong class="text-white"
              >Lösenordet måste innehålla åtta tecken och minst ett
              specialtecken: <strong id="pwPower"> </strong
            ></strong>

            <div class="self-center bg-blue-300 w-48 pl-10">
              <input
                type="submit"
                value="Bli medlem nu!"
                class="cursor-pointer"
                id="submitBtn"
              />
            </div>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
