<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>

</head>

  <body>
    <main class="grid-20-1fr min-h-full w-full bg-primary absolute flex"> 
       <%- include('./partials/sidebar', { active: '/login' }) %>
          
      <section class="flex justify-start items-center flex-col bg-secondary rounded  h-3/6 w-3/6 justify-self-center self-center gap-10">
         <div class="justify-self-start" >
        <h1 class="text-6xl font-bold text-white">Bli medlem idag!</h1>
        <ul class="justify-self-end">
          <li class="text-1xl text-white">Få rabatter</li>
          <li class="text-1xl text-white">Sneak peaks på kommande filmer</li>
          <li class="text-1xl text-white">Privata samtal från skådespelare (från Hjo)</li>
          <li class="text-1xl text-white">Backstage pass till Grammisgalan (i Hjo).</li>
        </ul>
       </div>
        <form action="" method="POST" class="border-r-2 border-l-2">
          <div class=" flex flex-col gap-5 mx-3">
            <input type="text" name="firstname" id="firstNameAcc" placeholder="Ditt förnamn" required/>

            <input type="text" name="lastname" id="lastNameAcc" placeholder="Ditt efternamn" required/>
          
            <input type="email" name="email" id="emailAcc" placeholder="Din email" required/>
              <input type="password" name="password" id="passwordAcc" placeholder="Ditt lösenord" required/>
            
            <div class="self-center bg-blue-300 w-48 pl-10"> 
            <input type="submit" value="Bli medlem nu!" class="">
            </div>

          </div>
        </form>
      </section>
    
    </main>
  </body>
</html>
