<!DOCTYPE html>
<html lang="sv">

<head>
  <title>Signup Form</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">
  <form id="signupForm" class="bg-white p-8 rounded-lg shadow-lg">
    <div class="mb-4">
      <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Användarnamn:</label>
      <input type="text" id="username" name="username" required
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <div class="mb-4">
      <label for="email" class="block text-gray-700 text-sm font-bold mb-2">E-post:</label>
      <input type="email" id="email" name="email" required
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <div class="mb-4">
      <label for="fullname" class="block text-gray-700 text-sm font-bold mb-2">Fullständiga namn:</label>
      <input type="text" id="fullname" name="fullname" required
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <div class="mb-6">
      <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Lösenord:</label>
      <input type="password" id="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
        <div>
          <label for="info" class="block text-grey-400 text-sm mb-2">(Minst 8 tecken varav minst 1 liten bokstav, minst 1 stor bokstav, minst 1 siffra!)</label>
        </div>
    </div>


    <div class="flex items-center justify-between">
      <button type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Skapa
        konto</button>
    </div>

    <input type="password" name="password" ...>
    <div id="passwordStrength" class="hidden text-sm mt-1"></div>

  </form>
</body>
<script src="/signup.js"></script>

</html>